.auth-page-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.register-container,
.forgot-password-container,
.reset-password-container {
    width: 90%;
    max-width: 600px;
    text-align: center;
    background-color: var(--card-background);
    padding: var(--spacing-xxxl);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 4px 6px var(--shadow-color);
}

.register-container h1,
.forgot-password-container h1,
.reset-password-container h1 {
    color: var(--text-color);
    font-size: var(--title-font-size);
    margin-bottom: var(--spacing-xxxl);
}

.forgot-password-container .instructions,
.reset-password-container .instructions {
    margin: var(--spacing-xl) 0 var(--spacing-xxxl);
    color: var(--text-color);
    line-height: 1.6;
    font-size: calc(var(--base-font-size) + 2px);
    text-align: center;
}

.register-container .form-group,
.forgot-password-container .form-group,
.reset-password-container .form-group {
    margin-bottom: var(--spacing-xl);
}

.register-container .form-group { text-align: right; }
.forgot-password-container .form-group { text-align: center; }
.reset-password-container .form-group { text-align: left; }

.register-container label {
    display: inline-block;
    width: 30%; 
    margin-right: var(--spacing-md);
    text-align: right;
    color: var(--text-color);
    font-weight: bold;
}

.forgot-password-container label,
.reset-password-container label {
    display: block;
    margin-bottom: var(--spacing-md);
    color: var(--text-color);
    font-weight: bold;
}

.register-container input,
.forgot-password-container input,
.reset-password-container input {
    padding: var(--spacing-md);
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
    font-size: calc(var(--base-font-size) + 2px);
    background-color: white;
}

.register-container input { width: 65%; }
.forgot-password-container input { width: 100%; }
.reset-password-container input { width: 100%; }

.register-container .button-container {
    margin-top: var(--spacing-xxl);
    text-align: center;
}

.reset-password-container .messages {
    background-color: #f8d7da;
    color: #721c24;
    padding: var(--spacing-lg);
    margin-bottom: var(--spacing-xl);
    border-radius: var(--border-radius);
    text-align: left;
    border: 1px solid #f5c6cb;
}

.reset-password-container .messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reset-password-container .messages li {
     margin-bottom: var(--spacing-sm);
}